page-client-register {
    ion-content {
        background-color: #025973 !important;
    }
    h2 {
        margin-top: 50px !important;
    }
    ion-item {
        margin-bottom: 10px !important;
    }
    .item-inner {
        padding-left: 15px;
    }
    .reg-btn {
        color: #025973;
        background: white;
        border: 2px solid #025973;
    }
}
