page-client-register {
    ion-content {
        background: mediumslateblue !important;
        margin-top: 50px !important;
    }
    ion-item {
        margin-bottom: 10px !important;
    }
    .item-inner {
        padding-left: 15px;
    }
}
