page-responder-login {
	ion-content {
		background-image: linear-gradient(to bottom, #4cd5f3, #25aae1);
	}
	.login-box {
      margin-top: 30px;
        padding-top: 20px !important;
        padding-bottom: 20px !important;
    }
   ion-input {
        border-bottom: 1px solid white;
        color: white !important;
}
.item-inner {
        padding-right: 20px !important;
        border-bottom: none !important;
}
ion-label {
        color: white !important;
        font-size: 16px !important;
}
ion-icon {
        padding-right: 20px;
}
    ion-item {
        border-radius: 25px !important;
        padding-left: 30px !important;
        font-size: 0.9em;
        margin-bottom: 10px !important;
        border-bottom: 0px !important;
        box-shadow: none !important;
        background: transparent !important;
}
     .submit-btn {
       background-color: #26aae1;
        box-shadow: inherit !important;
        transition: none !important;
        padding: 20px 0;
        font-size: 14px;
        width: 85%;
        margin: 0 auto;
     }
}
