<!--
  Generated template for the ClientLogin page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header >
  <ion-navbar color="primary">
    
    <ion-title>PROMedic | Client Login</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
	

	<!-- <ion-row>
      <ion-col>
        <img [@flyInBottomSlow]="logoState" src="assets/images/joshuamorony.png" />
      </ion-col>
    </ion-row> -->
	<ion-row class="logo-row">
		<ion-col></ion-col>
		    <ion-col width-67>
		      <img src="assets/images/promedic.png" height="60" width="90" />
		    </ion-col>
		    <ion-col>
		</ion-col>
  </ion-row>

	<ion-card>
	  

	  <ion-card-content>
	    <!-- Add card content here! -->
	    <form [formGroup]="clientLoginForm" (ngSubmit)="clientLoginForm.valid && loginClient(clientLoginForm.value)" novalidate>

	     <p *ngIf="isSubmitted" style="color: #ea6153;">{{error_msg}}</p>
	    	<ion-list inset>

			  <ion-item>
			    	<ion-label color="primary" stacked>Email</ion-label>
			   		 <ion-input type="email" formControlName="mobile" required ></ion-input>

			  </ion-item>


			  
			<div *ngIf="(clientLoginForm.controls.mobile.dirty ||clientLoginForm.controls.mobile.touched) && !clientLoginForm.controls.email.valid">
					<!-- <p *ngIf="clientLoginForm.controls['email'].errors.InvalidEmail"> -->
					<p padding-left >You must enter a valid phone number</p>
				<!-- 	</p> -->
			</div>
        

			  <ion-item>
			    <ion-label color="primary" stacked>Password</ion-label>
			    <ion-input type="password" formControlName="password"></ion-input>
			  </ion-item>

			   <ion-item *ngIf="!clientLoginForm.controls.password.valid  && (clientLoginForm.controls.password.dirty || clientLoginForm.controls.password.touched)">
                <p class padding-left >Please enter a valid password.</p>
            </ion-item>

			</ion-list>
			<div padding>
				  <button ion-button block type="submit"> 
				  <ion-icon name="log-in"></ion-icon>Sign In</button>
			</div>
	    </form>

	    <div center text-center>
	    	<a block (click)="openRegisterClientForm()"> Join us!</a>
	    </div>
	   
	  </ion-card-content>

	  

	</ion-card>

	
</ion-content>
